<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Hero Wars | Online action RPG</title>
<meta name="description" content="Epic Fantasy MMORPG. Dozens of Heroes to crank up. Hundreds of Bosses to challenge. Dominion&#039;s waiting for its Hero to lead The Army."/>
<link rel="shortcut icon" href="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="16x16" href="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/favicon-32x32.png" />
<link rel="apple-touch-icon" sizes="60x60" href="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="120x120" href="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="180x180" href="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/apple-touch-icon-180x180.png" />
<meta name="msapplication-TileColor" content="#ffc40d" />
<meta name="msapplication-TileImage" content="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/mstile-150x150.png" />
<meta name="msapplication-config" content="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/browserconfig.xml" />
<meta name="application-name" content="Hero Wars — Online action RPG" />
<meta name="thumbnail" content="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/apple-touch-icon-120x120.png" />
<meta property="og:title" content="Hero Wars — Online action RPG"/>
<meta property="og:description" content="Epic Fantasy MMORPG. Dozens of Heroes to crank up. Hundreds of Bosses to challenge. Dominion&#039;s waiting for its Hero to lead The Army." />
<meta property="og:image" content="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/og600x315.jpg" />
<meta property="og:url" content="https://hero-wars.com" />
<meta property="og:site_name" content="Hero Wars — Online action RPG" />
<meta name="twitter:title" content="Hero Wars — Online action RPG" />
<meta name="twitter:description" content="Epic Fantasy MMORPG. Dozens of Heroes to crank up. Hundreds of Bosses to challenge. Dominion&#039;s waiting for its Hero to lead The Army." />
<meta name="twitter:image" content="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/pwa/og600x315.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@HeroWarsWeb" />
<meta property="fb:app_id" content="283627762245717" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74588006-8"></script>

<script>
    (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-NHMFT83':true});

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-74588006-8', {'optimize_id': 'GTM-NHMFT83'});
    gtag('config', 'AW-847225030');
    gtag('config', 'DC-10616984');
    // gtag('set', {'user_id': '0'});
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NZL7Z2L');</script>
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1867293949991560');
        fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1867293949991560&amp;ev=PageView&amp;noscript=1"/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Taboola Pixel Code -->
<script type='text/javascript'>
    window._tfa = window._tfa || [];
    window._tfa.push({notify: 'event', name: 'page_view', id: 1171685});
    window._tfa.push({notify: 'event', name: 'page_view', id: 1123625});
    // id: 1171685
    !function (t, f, a, x) {
        if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
        }
    }(document.createElement('script'),
        document.getElementsByTagName('script')[0],
        '//cdn.taboola.com/libtrc/unip/1171685/tfa.js',
        'tb_tfa_script');
    // id: 1123625
    !function (t, f, a, x) {
        if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
        }
    }(document.createElement('script'),
        document.getElementsByTagName('script')[0],
        '//cdn.taboola.com/libtrc/unip/1123625/tfa.js',
        'tb_tfa_script');
</script>
<noscript>
    <img src='//trc.taboola.com/1171685/log/3/unip?en=page_view' width='0' height='0' style='display:none'/>
</noscript>
<script>
    _tfa.push({notify: 'event', name: 'view_content', id: 1171685});
    _tfa.push({notify: 'event', name: 'ViewContent', id: 1123625});
</script>
<noscript>
    <img src='//trc.taboola.com/1171685/log/3/unip?en=view_content' width='0' height='0' style='display:none'/>
</noscript>
<!-- End of Taboola Pixel Code -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(49488076, "init", {
        id:49488076,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });

    ym(49488076, 'reachGoal', 'ViewContent');
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/49488076" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!--  Vkontakte Pixel  -->
<script type="text/javascript">!function () {
		var t = document.createElement("script");
		t.type = "text/javascript", t.async = !0, t.src = "//vk.com/js/api/openapi.js?168", t.onload = function () {
            window.VK.Retargeting.Init("VK-RTRG-530291-6dpWF"),
            window.VK.Retargeting.Hit();
            window.dispatchEvent(new Event('vk_loaded'));
		}
			, document.head.appendChild(t)
	}();</script>
<noscript><img src="//vk.com/rtrg?p=VK-RTRG-530291-6dpWF" style="position:fixed; left:-999px;" alt=""/>
</noscript>
<!--  /Vkontakte Pixel  -->

<!-- Rating Mail.ru counter -->
<script type="text/javascript">
var _tmr = window._tmr || (window._tmr = []);
_tmr.push({id: "3192123", type: "pageView", start: (new Date()).getTime(), pid: "USER_ID"});
(function (d, w, id) {
if (d.getElementById(id)) return;
var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
ts.src = "https://top-fwz1.mail.ru/js/code.js";
var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window, "topmailru-code");
</script><noscript><div>
<img src="https://top-fwz1.mail.ru/counter?id=3192123;js=na" style="border:0;position:absolute;left:-9999px;" alt="Top.Mail.Ru" />
</div></noscript>
<!-- //Rating Mail.ru counter -->

        <!-- CSRF Token -->
        <meta name="csrf-token" content="LAw95a6SeKWOmDqk7Z7xGWZXETH18503bAxs9C33">

        <title>Hero Wars | Online action RPG</title>

        <!-- Languages -->
        <script src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/js/locale/en/autoGenerateTranslate.js" defer></script>

        <!-- Scripts -->
        <script src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/js/locale/en/autoGenerateTranslate.js" defer></script>
        <script src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/js/manifest.js" defer></script>
        <script src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/js/vendor.js" defer></script>
        <script src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/js/auth.js" defer></script>
        <script src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/prebid-ads-iframe-ad-unit-adv.js"></script>

        <!-- Styles -->
        <link href="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/css/auth.css" rel="stylesheet">
        <link href="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/css/landings/titans_green.css" rel="stylesheet">
        <link href="https://community.hero-wars.com/css/widget.css?v=1.1" rel="stylesheet">
    </head>

    <body>

        <script>
    window.NXUserInfo = {
        language                : 'en',
        sublanguage             : 'en',
    };
    window.NXAppInfo = {
        app_id                  : 3,
        landing                 : 'titans_green',
        current_environment     : 'production',
        sentry_front_dsn        : 'https://1b8c78fcec514439af22dffa35e128d8@ext-err.nextersglobal.com/38',
        facebook_client_id      : '283627762245717',
        google_client_id        : '430211325996-oqf86r2rn8jn3p20r406rgbb0qa9g26q.apps.googleusercontent.com',
        urlCustomParams         : '',
        nxSource                : '',
        isPreloadStatic         : '',
        preloaderJs             : 'https://heroesweb-a.akamaihd.net/wb/v0389/assets/heroes.js',
        static_url              : 'https://heroesweb-a.akamaihd.net/wb/',
    };
</script>

        <div id="app">
            <Auth inline-template>
                <div>
                    <div class="landing_page titans_green">

    <div class="header">
    <div class="left">
        <div class="logo logo_white"></div>

        <span class="delimiter"></span>
        <a
            class="button support"
            v-on:click="support()"
            target="_blank"
            href="https://herowars.zendesk.com/hc/en-us/"
        >
            Support
        </a>
        <span
            class="delimiter"
        ></span>
        <div
            id="hw-community-widget"
        ></div>
    </div>
    <div class="right">
        <div class="lang" id="lang">
    <a class="current" href="" id="langSelection" v-on:click.prevent="toggleMenu()">English</a>
    <div class="popup" id="langMenu" :style="{display: isActive ? 'flex' : 'none'}">
        <ul class="langs">
            <a class="item" href="" v-on:click.prevent="changeLanguage('en')">English</a>
            <a class="item" href="" v-on:click.prevent="changeLanguage('ru')">Русский</a>
            <a class="item" href="" v-on:click.prevent="changeLanguage('es')">Español</a>
            <a class="item" href="" v-on:click.prevent="changeLanguage('de')">Deutsch</a>
            <a class="item" href="" v-on:click.prevent="changeLanguage('it')">Italiano</a>
        </ul>
        <ul class="langs">
            <a class="item" href="" v-on:click.prevent="changeLanguage('fr')">Français</a>
            <a class="item" href="" v-on:click.prevent="changeLanguage('zh-CN')">简化字</a>
            <a class="item" href="" v-on:click.prevent="changeLanguage('zh-TW')">繁體中文</a>
            <a class="item" href="" v-on:click.prevent="changeLanguage('ja')">日本語</a>
            <a class="item" href="" v-on:click.prevent="changeLanguage('ko')">한국어</a>
        </ul>
    </div>
</div>
        <a
            class="button support"
            v-on:click="support()"
            target="_blank"
            href="https://herowars.zendesk.com/hc/en-us/"
        >
            Support
        </a>
    </div>
</div>

    <div class="main">

        <div class="landing-feedback-wrap">
    <img class="landing-feedback-logo" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/login_titans_logo_youtube.png" alt="logo-youtube">
    <div class="feedback-items-wrap">
        <div class="landing-feedback-item" style="order: 3 ">
            <div>Itsagame

Blah blah fun fun</br>
 
Fun as heck</div>
            <span>by Oxman1973$</span>
        </div>
        <div class="landing-feedback-item" style="order: 1 ">
            <div>

I’m addicted even though I’ve only been playing for 2 days

Good game</div>
            <span>by dem on234154</span>
        </div>
        <div class="landing-feedback-item" style="order: 1 ">
            <div>

Greatest game of all games ever
</div>
            <span>by zach5383872</span>
        </div>
    </div>
    <img class="landing-feedback-bottom" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/blueline.png" alt="blueline">
</div>
        <div class="landing-form" :class="formMode">

    <div class="landing-logo">
        
        <img
            src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/logo/hw_logo_en.png"
            class="logo_img"
            alt="logo.png"
        />
    </div>

    <div
    class="form_page page authentication visible landing-form-wrap"
    ref="authenticationPage"
    v-if="formMode === 'authentication'"
>
    <form class="form">
        <div class="inputs">
            <div class="holder links">
                <div class="first">Log in</div>
                <div class="second">
                    <span>or</span>
                    <span
                        class="login clickable"
                        v-on:click="changeFormMode('registration')"
                    >
                        Sign up
                    </span>
                    <span>if you don&#039;t have an account</span>
                </div>
            </div>

            <div class="holder email">
                <div class="titles">
                    <div class="text">E-mail</div>
                    <div
                        class="error"
                        v-show="emailError !== ''"
                        style="display: none;"
                    >
                        <span v-text="emailError"></span>
                        <span
                            class="clickable capitalize"
                            v-on:click="changeFormMode('registration')"
                            v-show="emailNotFound !== false"
                        >
                            Sign up
                        </span>
                    </div>
                </div>
                <div class="value">
                    <input
                        v-model="email"
                        v-on:change="checkLoginFields('email')"
                        v-on:keyup="clearErrors('emailError')"
                        v-on:keyup.enter="$refs.password.focus()"
                        v-on:keydown.tab.prevent="$refs.password.focus()"
                        class="input"
                        ref="email"
                        type="email"
                        name="email"
                        autocomplete="email"
                    >
                </div>

            </div>

            <div class="holder password">
                <div class="titles">
                    <div class="text">Password</div>
                    <div
                        class="error"
                        v-show="passwordError !== ''"
                        style="display: none;"
                    >
                        {{ passwordError }}
                    </div>
                </div>
                <div class="value">
                    <input
                        v-model="password"
                        v-on:change="checkLoginFields('password')"
                        v-on:keyup="clearErrors('passwordError')"
                        v-on:keyup.enter.prevent="clickLogin"
                        v-on:keydown.tab.prevent="$refs.email.focus()"
                        class="input"
                        ref="password"
                        type="password"
                        name="password"
                        autocomplete="password"
                    >
                </div>
            </div>

            <div class="holder remember recover">
                <label>
                    <div class="container">
                        <input
                            v-model="remember"
                            id="rememberUser"
                            type="checkbox"
                            checked="checked"
                        >
                        <span class="checkmark"></span>
                    </div>
                    <div class="text">Remember me</div>
                </label>
                <span
                    class="forgot clickable"
                    v-on:click="changeFormMode('recovery')"
                >
                    Forgot password?
                </span>
            </div>

            <div class="holder play login">
                <div
                    class="button"
                    v-on:click="clickLogin"
                    :class="{disabled: disabledButton}"
                >
                    Play Now
                </div>
            </div>
        </div>

        <div class="holder s-block">
    <div class="s-block-title">Sign in via:</div>
    <div class="buttons">
        <div class="button google" v-on:click="socialStart('google')">
            <div class="icon"></div>
            <div class="text">Google</div>
        </div>
        <div class="button facebook" v-on:click="socialStart('facebook')">
            <div class="icon"></div>
            <div class="text">Facebook</div>
        </div>
        <div class="button vk" v-on:click="socialStart('vkontakte')" data-url="">
            <div class="icon"></div>
            <div class="text">Vkontakte</div>
        </div>
        <div class="button ok" v-on:click="socialStart('odnoklassniki')">
            <div class="icon"></div>
            <div class="text">ОК</div>
        </div>
    </div>
</div>

    </form>
</div>
    <div class="form_page page registration" v-if="formMode === 'registration'">
    <form class="form">
        <div class="inputs">



            <div class="holder links">
                <div class="first">Sign up</div>
                <div class="second">
                    <span>or</span>
                    <span
                        class="login clickable"
                        v-on:click="changeFormMode('authentication')"
                    >
                        Log in
                    </span>
                    <span>if you already have an account</span>
                </div>
            </div>



            <div class="holder email" :class="{hidden: regMode === 'password'}">
                <div class="leftright">
                    <div class="text">E-mail</div>
                    <div class="error">{{ emailError }}</div>
                </div>
                <div class="value">
                    <input
                        v-model="email"
                        v-on:change="checkRegFields('email')"
                        v-on:keyup="clearErrors('emailError')"
                        v-on:keyup.enter="clickNext"
                        class="input"
                        type="email"
                        name="email"
                        autocomplete="email"
                    >
                </div>
            </div>



            <div class="holder password" :class="{hidden: regMode === 'email'}">
                <div class="leftright">
                    <div class="text">Create a password</div>
                    <div class="error">{{ passwordError }}</div>
                </div>
                <div class="value">
                    <input
                        v-model="password"
                        v-on:change="checkRegFields('password')"
                        v-on:keyup="clearErrors('passwordError')"
                        v-on:keyup.enter="clickPlay"
                        class="input"
                        type="password"
                        name="password"
                        autocomplete="password"
                        placeholder="8-30 alphanumeric characters"
                    >
                </div>
            </div>



            <div class="holder agreement" :class="{hidden: regMode === 'email'}">
                <label>
                    <div class="container">
                        <input v-model="agreement" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </div>
                    <div class="text">
                        By signing up, you agree to our
                        <b v-on:click.prevent="clickTerms" class="doclink">
                            Terms of Service
                        </b>
                        and
                        <div v-on:click.prevent="clickPolicy" class="doclink agreement-inline">
                            Privacy and Cookie Policy
                        </div>
                        <div class="agreement-inline">
                            .
                        </div>
                    </div>
                </label>
            </div>



            <div class="holder next" :class="{hidden: regMode === 'password'}">
                <div
                    class="button"
                    v-on:click="clickNext"
                    :class="{disabled: disabledButton}"
                >
                    Next
                </div>
            </div>



            <div class="holder play reg" :class="{hidden: regMode === 'email'}">
                <div
                    class="button"
                    v-on:click="clickPlay"
                    :class="{disabled: !agreement || disabledButton}"
                >
                    Play free
                </div>
            </div>

        </div>

        <div class="holder s-block">
    <div class="s-block-title">Sign in via:</div>
    <div class="buttons">
        <div class="button google" v-on:click="socialStart('google')">
            <div class="icon"></div>
            <div class="text">Google</div>
        </div>
        <div class="button facebook" v-on:click="socialStart('facebook')">
            <div class="icon"></div>
            <div class="text">Facebook</div>
        </div>
        <div class="button vk" v-on:click="socialStart('vkontakte')" data-url="">
            <div class="icon"></div>
            <div class="text">Vkontakte</div>
        </div>
        <div class="button ok" v-on:click="socialStart('odnoklassniki')">
            <div class="icon"></div>
            <div class="text">ОК</div>
        </div>
    </div>
</div>

    </form>
</div>
    <div class="form_page page recovery" v-if="formMode === 'recovery'">
    <form class="form" novalidate>
        <div class="inputs">
            <div class="holder links">
                <div class="first">Reset your password</div>
                <div class="second">
                    <span>or</span>
                    <span
                        class="login clickable"
                        v-on:click="changeFormMode('authentication')"
                    >
                        Log in
                    </span>
                    <span>if you already have an account</span>
                </div>
            </div>

            <div class="holder email">
                <div class="leftright">
                    <div class="text">E-mail</div>
                    <div class="error" v-show="emailError !== ''">
                        <span>{{ emailError }}</span>
                        <span
                            class="clickable"
                            v-on:click="changeFormMode('registration')"
                            v-show="emailNotFound !== false"
                        >
                            Sign up
                        </span>
                    </div>
                </div>
                <div class="value">
                    <input
                        v-model="email"
                        v-on:change="checkResetFields"
                        v-on:keyup="clearErrors('emailError')"
                        v-on:keyup.enter="clickReset"
                        class="input"
                        type="email"
                        name="email"
                        autocomplete="email"
                    >
                </div>
            </div>

            <div class="holder agreement">
                <div
                    class="text"
                    v-text="agreementText"
                >
                    Instructions for changing your password will be sent to the e-mail address shown above
                </div>
            </div>

            <div class="holder reset">
                <!-- кнопки "reset" с кастомным текстом -->

                <!-- до инициализации Vue.js -->
                <div
                    class="button"
                    v-on:click="clickReset"
                    :class="{disabled: disabledButton}"
                    v-show="!resetButtonText"
                    style="display:none;"
                >
                    Reset
                </div>

                <!-- после инициализации Vue.js -->
                <div
                    class="button"
                    v-on:click="clickReset"
                    :class="{disabled: disabledButton}"
                    v-text="resetButtonText"
                    v-show="!!resetButtonText"
                    style="display:none;"
                ></div>

            </div>

        </div>

        <div class="holder s-block">
    <div class="s-block-title">Sign in via:</div>
    <div class="buttons">
        <div class="button google" v-on:click="socialStart('google')">
            <div class="icon"></div>
            <div class="text">Google</div>
        </div>
        <div class="button facebook" v-on:click="socialStart('facebook')">
            <div class="icon"></div>
            <div class="text">Facebook</div>
        </div>
        <div class="button vk" v-on:click="socialStart('vkontakte')" data-url="">
            <div class="icon"></div>
            <div class="text">Vkontakte</div>
        </div>
        <div class="button ok" v-on:click="socialStart('odnoklassniki')">
            <div class="icon"></div>
            <div class="text">ОК</div>
        </div>
    </div>
</div>

    </form>
</div>

    <div class="landing-rating-wrap">
    <div class="landing-rating-block">
        <img class="landing-rating-img rating-MMO" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/login_titans_logo_MMO.png" alt="MMO.png" />
        <div class="landing-rating rating-blue">8.4</div>
    </div>
    <div class="landing-rating-block">
        <img class="landing-rating-img rating-LV" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/login_titans_logo_LV.png" alt="LV.png" />
        <div class="landing-rating rating-yellow">9.1</div>
    </div>
</div>
</div>
        <div class="landing-feedback-wrap">
    <img class="landing-feedback-logo" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/login_titans_logo_twitch.png" alt="logo-twitch">
    <div class="feedback-items-wrap">
        <div class="landing-feedback-item" style="order: 1 ">
            <div>
Couldn't believe that someone was able to provide a game that was this simple and yet so intriguing that the next step was entrancing!!
</div>
            <span>by Jaime M.</span>
        </div>
        <div class="landing-feedback-item" style="order: 1 ">
            <div>
If you was a fan of GODS RUSH, this game is the next best thing smoking!!</div>
            <span>by joe riggs</span>
        </div>
    </div>
    <img class="landing-feedback-bottom" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/yellowline.png" alt="yellowline">
</div>

        <div class="feedbacks_adaptive">
            <div class="landing-feedback-wrap">
    <img class="landing-feedback-logo" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/login_titans_logo_youtube.png" alt="logo-youtube">
    <div class="feedback-items-wrap">
        <div class="landing-feedback-item" style="order: 3 ">
            <div>Itsagame

Blah blah fun fun</br>
 
Fun as heck</div>
            <span>by Oxman1973$</span>
        </div>
        <div class="landing-feedback-item" style="order: 3 ">
            <div>

I’m addicted even though I’ve only been playing for 2 days

Good game</div>
            <span>by dem on234154</span>
        </div>
        <div class="landing-feedback-item" style="order: 1 ">
            <div>

Greatest game of all games ever
</div>
            <span>by zach5383872</span>
        </div>
    </div>
    <img class="landing-feedback-bottom" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/blueline.png" alt="blueline">
</div>
            <div class="landing-feedback-wrap">
    <img class="landing-feedback-logo" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/login_titans_logo_twitch.png" alt="logo-twitch">
    <div class="feedback-items-wrap">
        <div class="landing-feedback-item" style="order: 2 ">
            <div>
Couldn't believe that someone was able to provide a game that was this simple and yet so intriguing that the next step was entrancing!!
</div>
            <span>by Jaime M.</span>
        </div>
        <div class="landing-feedback-item" style="order: 3 ">
            <div>
If you was a fan of GODS RUSH, this game is the next best thing smoking!!</div>
            <span>by joe riggs</span>
        </div>
    </div>
    <img class="landing-feedback-bottom" src="https://heroesweb-a.akamaihd.net/i/hw-web/v2/77649/images/promo/titans_green/yellowline.png" alt="yellowline">
</div>
        </div>

    </div>

    <div class="footer">
    <div class="left">
        Copyright &copy;2021 NEXTERS GLOBAL Ltd.
    </div>

    <div class="right">

        <!-- только на всех лендингах loot и языке de -->
        
        <a
            target="_blank"
            href="/policy/cookies/"
        >
            Cookie policy
        </a>
        <a
            target="_blank"
            href="/policy/fan_content/en"
        >
            Fan Content Policy
        </a>
        <a
            target="_blank"
            href="/policy/community_rules/en"
        >
            Community rules
        </a>
        <a
            target="_blank"
            href="/policy/parents_guide/en"
        >
            Parent&#039;s guide
        </a>
        <a
            target="_blank"
            href="/policy/privacy/en"
        >
            Privacy
        </a>
        <a
            target="_blank"
            href="/policy/terms/en"
        >
            Terms
        </a>
    </div>
</div>

</div>
                    <div class="modal-cookie" style="display: none;" v-show="cookieAlertVisible == true">
    <div class="container">
        <div class="title">Cookie Disclaimer</div>
        <div class="modal-cookie-text">The Hero Wars Website uses cookies and similar technologies necessary to provide You with the best quality Services. By continuing to use the Website You accept the Cookie Policy.</div>
        <div class="modal-cookie-footer">
            <span
                class="modal-cookie-link"
                v-on:click="cookieMoreInfo"
                target="_blank"
            >
                Learn More
            </span>
            <button
                class="modal-cookie-btn"
                v-on:click="acceptCookieDisclaimer"
            >
                Accept
            </button>
        </div>
    </div>
</div>
                    <div class="modalbox" v-show="modalBoxVisible" style="display:none;">
    <div class="container">
        <div class="content">
            <button class="close" v-on:click="hideModal">
                <svg viewBox="0 0 32 32"><path d="M10,10 L22,22 M22,10 L10,22"></path></svg>
            </button>
            <div class="title" v-html="modalTitle"></div>
            <div class="wrapper" ref="modalContentBox" v-html="modalContent"></div>
        </div>
    </div>
</div>                </div>
            </Auth>
        </div>
        <script src="https://apis.google.com/js/api:client.js" defer></script>
<script>

    window.fbAsyncInit = function() {
        FB.init({
            appId            : window.NXAppInfo.facebook_client_id,
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v4.0'
        });
    };

</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZL7Z2L"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    </body>

    <script type="text/javascript" src="https://community.hero-wars.com/js/widget.js?v=1.1" defer></script>

</html>
